In [33]:
#import required libraires
import pandas as pd
import numpy as np
import pickle
from keras.utils.np_utils import to_categorical
from sklearn.model_selection import train_test_split
from keras.models import model_from_json

In [2]:
from ocr_data_extraction import data_conversion_to_array,load_data_from_csv
from  ocr_network import network

#### load the data from the folder , convert them to array by using the below function and load the output to a csv file

In [5]:
#here output is the aggregate of folders one by one
dic={'0':'0','1':'1','2':'2','3':'3','4':'4','5':'5','6':'6','7':'7','8':'8','9':'9','-':'10','+':'11','times':'12'}
dir=r'hands_written\write'
data_conversion_to_array(dir,dic)

25112
59109
66023
89952
116093
127002
134398
137943
141061
143970
147038
150775
154026

#### using the  csv file get input training data and labels

In [6]:
train_data,labels=load_data_from_csv(r'train_final.csv')

In [7]:
train_data.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
23001,0,0,0,0,0,0,0,0,186,0,...,0,0,0,0,0,0,0,0,0,0
109066,15,77,176,140,77,0,0,0,0,0,...,0,0,0,35,161,0,0,0,0,0
32682,255,255,255,255,255,168,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95746,0,0,0,0,0,0,0,0,0,0,...,140,178,0,0,0,0,0,0,0,0
81480,0,0,0,0,0,0,0,0,0,0,...,0,0,0,76,122,16,0,0,0,0

In [8]:
labels.head()

        784
23001    11
109066    2
32682    10
95746     2
81480     1

In [10]:
model=network()
#model.summary()

In [20]:
def data_conversion_to_required_array_dimensions(train_data,labels,num_classes):
    input_data=[]
    for i in range(train_data.shape[0]):
        input_data.append(np.array(train_data[i:i+1]).reshape(28,28,1))
    labels=np.array(labels)
    labels=to_categorical(labels,num_classes)
    return input_data,labels

In [21]:
input_data,labels=data_conversion_to_required_array_dimensions(train_data,labels,13)

In [26]:
X_train, X_test, y_train, y_test = train_test_split(input_data,labels, test_size=0.33, random_state=42)

In [29]:
model.fit(np.array(X_train),y_train, epochs=10, batch_size=200,shuffle=True,verbose=1)

Epoch 1/10
516/516 [==============================] - 45s 87ms/step - loss: 0.1600 - accuracy: 0.9573
Epoch 2/10
516/516 [==============================] - 44s 86ms/step - loss: 0.1316 - accuracy: 0.96524s - loss: 0 - ETA: 3s - loss: 0.1 - ETA: 0s - loss: 0.1322
Epoch 3/10
516/516 [==============================] - 45s 87ms/step - loss: 0.1076 - accuracy: 0.9725
Epoch 4/10
516/516 [==============================] - 46s 88ms/step - loss: 0.0966 - accuracy: 0.97541s - loss:
Epoch 5/10
516/516 [==============================] - 45s 87ms/step - loss: 0.0816 - accuracy: 0.9789
Epoch 6/10
516/516 [==============================] - 44s 85ms/step - loss: 0.0734 - accuracy: 0.9813
Epoch 7/10
516/516 [==============================] - 46s 89ms/step - loss: 0.0655 - accuracy: 0.98390s - loss: 0.0650 -
Epoch 8/10
516/516 [==============================] - 47s 92ms/step - loss: 0.0591 - accuracy: 0.9858
Epoch 9/10
516/516 [==============================] - 48s 94ms/step - loss: 0.0561 - accuracy: 0.9865
Epoch 10/10
516/516 [==============================] - 49s 95ms/step - loss: 0.0480 - accuracy: 0.9878

### storing the model into a jason file

In [40]:
model_json = model.to_json()
with open(r"model_final.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
model.save_weights("model_final.h5")